src/main/webapp/WEB-INF/source-jsp
src/main/webapp/WEB-INF/tmp-file-upload

config.json

target

*.iml
.idea

.cache

db
db*
*.DS_Store


src/main/webapp/aphoto
src/main/webapp/client
src/main/webapp/www
src/main/webapp/pinter
src/main/webapp/pinteragent
src/main/webapp/terminal